@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fbfbfa;
    color: #1c1c1c;
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
